<div class='container mt-5 w-50'>
    <p class="fs-2">코드: <%= detail_info[0].book_uid %></p>
    <p class="fs-2">제목: <%= detail_info[0].book_name %></p>
    <p class="fs-2">저자: <%= detail_info[0].book_writer %></p>
    <p class="fs-2">재고: <%= detail_info[0].book_stock %>권</p>
    <p class="fs-2">가격: <%= detail_info[0].book_price %>원</p>
    <div class='mt-5'>
      <% if(sess != null) { %>
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/order/orderPage/<%= detail_info[0].book_uid %>'">구매</button>
        <button type="button" class="btn btn-primary btn-lg">담기</button>
      <% } %>
    </div>
</div>